.footer {
    text-align: center;
    align-items: center;
    position: relative;
    top: -10px;
}

.adress {
    border: 10px solid black;
    padding: 10px;
    margin-bottom: 16px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: black;
    width: 100%;
}

.adress > img:last-of-type {
    margin-left: auto;
}


